@font-face {
  font-family: Sofia Pro;
  src: url(../assets/fonts/sofiapro-light.otf) format(opentype);
}
@font-face {
  font-family: Circular Std;
  src: url(../assets/fonts/circular-std.otf) format(opentype);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transition: all 0.2s ease-in-out;
}

.mainSection {
  display: flex;
  height: 100vh;
  background-color: #fafafa;
  position: relative;
}
.mainSection .sideNav {
  width: 17.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  font-family: Sofia Pro, sans-serif;
}
.mainSection .sideNav .navContent > h2 {
  margin: 57px 0 44px;
  font-size: 30px;
  font-weight: 800;
}
.mainSection .sideNav .navContent ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
.mainSection .sideNav .navContent ul li a .iconBox {
  width: 24px;
}
.mainSection .sideNav .navContent ul li a:hover {
  font-weight: bold;
  opacity: 0.5;
}
.mainSection .sideNav .helpCenter {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}
.mainSection .sideNav .helpCenter > span {
  background-color: #f6f6f6;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainSection .sideNav .helpCenter > span img {
  transform: rotate(270deg);
  width: 20px;
}
.mainSection .sideNav .helpCenter:hover > span {
  background-color: #f4de4d;
  transition: all 0.3s ease-in-out;
}
.mainSection .mainContent {
  width: 82.5%;
  padding: 50px 3.6vw 50px 2.5vw;
  overflow-y: auto;
}
.mainSection .mainContent .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Circular Std, sans-serif;
}
.mainSection .mainContent .header .searchBox {
  display: flex;
  align-items: center;
  gap: 17px;
}
.mainSection .mainContent .header .searchBox img {
  cursor: pointer;
}
.mainSection .mainContent .header .searchBox input {
  border: none;
  outline: none;
  font-family: Circular Std, sans-serif;
  font-size: 17px;
  opacity: 0.4;
  background: transparent;
}
.mainSection .mainContent .header .navMenu {
  display: flex;
  align-items: center;
  gap: 47px;
}
.mainSection .mainContent .header .navMenu ul {
  display: flex;
  align-items: center;
  gap: 42px;
}
.mainSection .mainContent .header .navMenu ul li a {
  font-size: 17px;
  padding: 0 2px 7px;
}
.mainSection .mainContent .header .navMenu ul li a.active,
.mainSection .mainContent .header .navMenu ul li a:hover {
  border-bottom: 2px solid black;
}
.mainSection .mainContent .header .navMenu .menuBtns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mainSection .mainContent .header .navMenu .menuBtns > a {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.mainSection .mainContent .header .navMenu .menuBtns > a:hover {
  background-color: #f4de4d;
  transition: all 0.3s ease-in-out;
}
.mainSection .mainContent .headerMobile {
  display: none;
}
.mainSection .mainContent .categorySection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 66px;
  font-family: Sofia Pro, sans-serif;
}
.mainSection .mainContent .categorySection .categorySmall,
.mainSection .mainContent .categorySection .categoryLarge {
  display: flex;
  gap: 20px;
  width: 100%;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox {
  position: relative;
  width: 100%;
  min-height: 382px;
  overflow: hidden;
  border-radius: 15px;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox > a > img,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox > a > img {
  width: 100%;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .category1,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .category1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .category1 > span,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .category1 > span {
  position: absolute;
  font-size: 30px;
  font-weight: 800;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .category7 .categoryTextBox,
.mainSection .mainContent .categorySection .categorySmall .categoryBox .category8 .categoryTextBox,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .category7 .categoryTextBox,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .category8 .categoryTextBox {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-left: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .category7 .categoryTextBox h2,
.mainSection .mainContent .categorySection .categorySmall .categoryBox .category8 .categoryTextBox h2,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .category7 .categoryTextBox h2,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .category8 .categoryTextBox h2 {
  color: #001aa2;
  font-size: 26px;
  font-weight: 800;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .category7 .categoryTextBox p,
.mainSection .mainContent .categorySection .categorySmall .categoryBox .category8 .categoryTextBox p,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .category7 .categoryTextBox p,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .category8 .categoryTextBox p {
  font-size: 15px;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .category8 .categoryTextBox h2,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .category8 .categoryTextBox h2 {
  color: #fd2e24;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .wishlist,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .wishlist {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .wishlist img,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .wishlist img {
  width: 20px;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .wishlist:hover,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .wishlist:hover {
  background-color: red;
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox .wishlist:hover img,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox .wishlist:hover img {
  filter: invert(1);
}
.mainSection .mainContent .categorySection .categorySmall .categoryBox > a > img:hover,
.mainSection .mainContent .categorySection .categoryLarge .categoryBox > a > img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.mainSection .mainContent .categorySection .categoryLarge {
  flex-direction: column;
}
.mainSection .mainContent .categorySection .categoryLarge .categoryBox {
  min-height: 180px;
}

@media (max-width: 768px) {
  .mainSection {
    height: 100svh;
  }
  .mainSection .sideNav {
    width: 70%;
    height: 100svh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
  }
  .mainSection .sideNav.open {
    display: inherit;
  }
  .mainSection .mainContent {
    width: 100%;
    padding: 12px;
  }
  .mainSection .mainContent .header {
    display: none;
  }
  .mainSection .mainContent .headerMobile {
    display: block;
    margin-bottom: 30px;
  }
  .mainSection .mainContent .headerMobile .headerTopMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mainSection .mainContent .headerMobile .headerTopMenu .logoMenu {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .mainSection .mainContent .headerMobile .headerTopMenu .logoMenu #bars {
    width: 24px;
  }
  .mainSection .mainContent .headerMobile .headerTopMenu .menuBtns {
    display: flex;
    align-items: center;
  }
  .mainSection .mainContent .headerMobile .headerTopMenu .menuBtns > a {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .mainSection .mainContent .headerMobile .headerTopMenu .menuBtns > a:hover {
    background-color: #f4de4d;
    transition: all 0.3s ease-in-out;
  }
  .mainSection .mainContent .headerMobile .navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 40px;
  }
  .mainSection .mainContent .headerMobile .navMenu li a {
    font-size: 15px;
    padding: 0 1px 5px;
  }
  .mainSection .mainContent .headerMobile .navMenu li a.active,
  .mainSection .mainContent .headerMobile .navMenu li a:hover {
    border-bottom: 2px solid black;
  }
  .mainSection .mainContent .headerMobile .searchBox {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .mainSection .mainContent .headerMobile .searchBox img {
    cursor: pointer;
    width: 20px;
  }
  .mainSection .mainContent .headerMobile .searchBox input {
    border: none;
    outline: none;
    font-family: Circular Std, sans-serif;
    font-size: 14px;
    opacity: 0.4;
    background: transparent;
  }
  .mainSection .mainContent .categorySection {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
    margin-top: 0;
  }
  .mainSection .mainContent .categorySection .categoryLarge,
  .mainSection .mainContent .categorySection .categorySmall {
    gap: 12px;
  }
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox {
    min-height: auto;
  }
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox .category1 > span,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox .category1 > span {
    font-size: 20px;
  }
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox .category7 .categoryTextBox,
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox .category8 .categoryTextBox,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox .category7 .categoryTextBox,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox .category8 .categoryTextBox {
    padding-left: 12px;
    gap: 6px;
  }
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox .category7 .categoryTextBox h2,
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox .category8 .categoryTextBox h2,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox .category7 .categoryTextBox h2,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox .category8 .categoryTextBox h2 {
    font-size: 18px;
  }
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox .category7 .categoryTextBox p,
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox .category8 .categoryTextBox p,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox .category7 .categoryTextBox p,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox .category8 .categoryTextBox p {
    font-size: 12px;
  }
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox .wishlist,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox .wishlist {
    width: 30px;
    height: 30px;
    top: 12px;
    right: 12px;
  }
  .mainSection .mainContent .categorySection .categoryLarge .categoryBox .wishlist img,
  .mainSection .mainContent .categorySection .categorySmall .categoryBox .wishlist img {
    width: 16px;
  }
}/*# sourceMappingURL=style.css.map */